#container, #content {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	display: grid;
	margin-left: auto;
	margin-right: auto; 
	margin-top: auto; 
	margin-bottom: auto;
	align-items: center;	
}

#content-shadow {
	z-index: 40;
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	display: grid;
	margin-left: auto;
	margin-right: auto; 
	margin-top: auto; 
	margin-bottom: auto;
	align-items: center;	
}
